/*========== Introduce ==========*/

.introduce {
    margin-top: 200px;
    margin-bottom: 100px;
    .box-introduce-image {
        min-height: 623px;
        position: relative;
        .img-introduce-top {
            width: 80%;
            height: 85%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .img-introduce-bottom {
            width: 65%;
            width: 65%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .box-text-introduce {
        .introduce-title {
            width: 95%;
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
            span {
                color: $orange-primary;
            }
        }
        .content-introduce {
            margin-top: 60px;
            height: 450px;
            font-size: 16px;
            .icon-droplet-introduce {
                float: left;
                height: 100%;
                margin-right: 38.88px;
            }
        }
    }
    @media only screen and (min-width: 1400px) {
        .box-introduce-image {
            width: 85%;
        }
    }
    @media only screen and (max-width: 992px) {
        .box-introduce-image {
            width: 75%;
            margin-bottom: 80px;
        }
    }
    @media only screen and (max-width: 576px) {
        .box-introduce-image {
            min-height: 300px;
        }
        .box-text-introduce {
            .introduce-title {
                font-size: 28px;
            }
        }
    }
}


/*========== Slide Destinations ==========*/

.card-destination {
    width: 255px;
    img {
        height: 350px !important;
    }
    .card-body {
        h5 {
            min-height: 28px !important;
            margin: 0;
        }
        .card-title {
            -webkit-line-clamp: 1 !important;
            font-size: 20px;
            margin-bottom: 2px;
        }
        .card-text {
            font-size: 14px;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 992px) {
    .slide-destinations {
        .card-destination {
            width: 200px;
            img {
                height: 200px !important;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .slide-destinations {
        .card-destination {
            width: 135px;
        }
    }
}


/*========== Slide Tours ==========*/

.slide-tour {
    margin-top: 150px;
    .card-tour {
        width: 350px;
        .card-image {
            position: relative;
            .ribbon {
                position: absolute;
                top: -2px;
                right: 8%;
                height: 35px;
                width: 20px;
            }
            .rate {
                width: 65px;
                height: 30px;
                padding: 0 10px;
                position: absolute;
                left: 0;
                bottom: 10%;
                background-color: $orange-primary;
                display: flex;
                justify-content: space-around;
                align-items: center;
                img {
                    height: 16px;
                    width: 16px;
                    display: inline;
                }
                span {
                    padding-top: 4px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 22px;
                    color: white;
                }
            }
        }
        .card-body {
            .card-title {
                font-size: 18px;
            }
            .card-text {
                font-size: 14px;
                padding: 9px 0;
                margin: 0;
                img {
                    width: 16px;
                    height: 18px;
                    display: inline-block;
                    margin-right: 14px;
                }
            }
        }
    }
    @media only screen and (max-width: 992px) {
        .card-tour {
            width: 220px;
        }
    }
    @media only screen and (max-width: 576px) {
        .card-tour {
            width: 90%;
        }
    }
}


/*========== Mail Deals ==========*/

.mail-deals {
    width: 100%;
    margin-top: 150px;
    .title-mail {
        width: 100%;
        max-width: 434px;
        height: 80px;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        color: $black-title;
        p {
            margin: 0;
            span {
                color: $orange-primary;
            }
        }
    }
    .form-input-mail {
        width: 100%;
        .input-mail {
            margin-left: 0;
            input {
                height: 48px;
                border: 1px solid $subcolor;
            }
        }
        .btn-send-mail {
            width: 101px;
            height: 48px;
            background-color: $black-title;
            color: white;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
        }
    }
    @media only screen and (max-width: 1200px) {
        .form-input-mail {
            .btn-send-mail {
                margin-left: 15px;
            }
        }
    }
    @media only screen and (max-width: 576px) {
        .title-mail {
            font-size: 30px;
        }
        .form-input-mail {
            .btn-send-mail {
                margin-left: 15px;
            }
        }
    }
}