.header {
    width: 100%;
    height: 766px;
    margin: 0 auto;
    padding-top: 20px;
    background-image: url('../images/background-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;

    .navbar {
        button {
            position: absolute;
            transition: all linear 0.2s;
            top: 0;
            right: 0px;
        }

        button[aria-expanded="true"] > span.navbar-toggler-icon {
            display: none;
        }

        button[aria-expanded="false"] > span.navbar-icon-close {
            display: none;
        }
    }

    .navbar-header {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;

        .nav-item {
            a {
                color: white;
                padding: 8px 2em;
            }

            a:hover {
                color: $orange-primary;
            }

            a:focus {
                color: $orange-primary;
            }

            .active {
                color: $orange-primary;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        background-size: auto 435px;
        height: auto;
        .navbar-header {
            .nav-item {
                a {
                    padding: 8px 1.2em;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .navbar-header {
            .nav-item {
                a {
                    padding: 8px 0.8em;
                }
            }
        }
    }
    @media only screen and (max-width: 575.98px) {
        background-size: auto 535px;
        .navbar-collapse.show .navbar-header {
            width: 300px;
        }
        .navbar-header {
            width: 0px;
            height: 100%;
            transition: width linear 0.3s;
            position: fixed;
            z-index: 10;
            top: 0;
            right: 0;
            background: #34758a;

            .nav-item {
                border-top: 1px solid rgba(255, 255, 255, 0.2);

                a {
                    color: white !important;
                }
            }

            .active,
            .nav-item:hover {
                background-color: $orange-primary;
            }
        }
        .navbar-active-btn {
            position: fixed !important;
            top: 0 !important;
            right: 300px !important;
        }
    }

    .box-content-header {
        margin-top: 153px;
        /* Text Header*/
        .text-header {
            .text-welcome {
                color: #FFF2CF;
                font-weight: bold;
                font-size: 16px;
            }

            .text-slogan {
                width: 445px;
                color: white;
                font-weight: 500;
                font-size: 60px;
            }
        }

        /* Feature */
        .box-feature {
            background-color: white;
            height: 99px;
            padding-top: 26px;
            margin-top: 188px;
            margin-left: -1000px;
            padding-left: 1000px;

            .dot {
                height: 8px;
                width: 8px;
                padding-right: 8px;
                background-color: $orange-primary;
                border-radius: 50%;
                display: inline-block;
            }

            .info-feature {
                p {
                    font-size: 24px;
                    font-weight: bold;

                    span {
                        font-size: 16px;
                        font-weight: normal;
                    }
                }
            }
        }

        /* Search */
        .form-search {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.704) 1.52%, rgba(255, 255, 255, 0.64) 100%);
            backdrop-filter: blur(42px);
            padding-bottom: 25px;

            .title-search {
                font-weight: 500;
                font-size: 24px;
                margin: 18px 30px;
                color: $black-title;
            }

            .input-search {
                margin: 18px 30px;
            }

            .btn-search-submit {
                height: 64px;
                background-color: $orange-primary;
                color: white;
                border: none;
            }
        }

        @media only screen and (max-width: 992px) {
            .box-feature {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.704) 1.52%, rgba(255, 255, 255, 0.64) 100%) !important;
                padding-top: 0;
                margin-left: 0;
                padding-left: 0;
                margin-top: 100px;

                .dot {
                    margin-left: 10px;
                }

                .info-feature {
                    margin-left: 10px;
                    width: 95% !important;

                    span {
                        display: block;
                    }
                }
            }
            /* Text Header*/
            .text-header {
                .text-welcome {
                    padding-left: 10px;
                }

                .text-slogan {
                    padding-left: 10px;
                    font-size: 25px;
                }
            }
            .form-search {
                margin-top: 50px;
            }
        }
    }
}
